<body>
<h2>Favortie Links</h2>
<article>
  <% link.each do |link| %>
<p>
  <small><%= link.vote_counter %></small>
</p>


<p>
  <h3><%= link.title %></h3>
</p>
<p>
  <small><%= link.url %></small>
</p>
<%= form_for(link) do |f| %>
<button>
</button>

  <% end %>
<% end %>
</article>
</body>
