<body>
<h2>Favortie Links</h2>
<article>
  <% @links.each do |link| %>
<p>
  <small><%= link.vote_counter %></small>
</p>


<p>
  <h3><%= link.title %></h3>
</p>
<p>
  <small><%= link.url %></small>
</p>
<button>
  <%= link_to "vote", votes_path(link_id: link.id), remote: true, method: :post %>
</button>

<% end %>
</article>
</body>
