<body>

<h1>Iron Reddit</h1>
<article>
<%= link.each do |link| %>
<p>
  <%= link.vote_counter %>
</p>
<p>
  <%= link_to "/votes?link_id", method: "POST" %>
</p>


<p>
  <h3><%= link.title %></h3>

</p>

<% end %>
</article>
</body>
